.headerImage {
  width: 100%;
  opacity: 0.5;
}

p {
  font-size: var(--text-size);
  font-family: var(--font-family-text);
  display: block;
  line-height: 33px;
}

@media screen and (min-width: 1200px) {
  .text-on-image {
    position: absolute;
    width: 70%;
    // max-width: 800px;
    // top: 30%;
    left: 15%;
    right: 30%;
    bottom: 30%;
    transform: inherit; /* Center horizontally */
    background-color: transparent;
    font-size: 5vw; /* Adjust font size based on viewport width */
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .text-on-image {
    position: absolute;
    display: center;
    // width: 70%;
    // left: 15%;
    // right: 30%;
    // bottom: 30%;
    top: 20%;
    padding: 20px;
    padding-bottom: 0px;
    transform: inherit; /* Center horizontally */
    background-color: transparent;
    font-size: 8vw; /* Adjust font size based on viewport width */
    text-align: center;
  }
}

.sectionContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  text-align: left;
  display: block;
  max-width: 1000px;

  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.sectionHeader {
  width: 80vw;
  margin: 50px auto;

  @media screen and (max-width: 600px) {
    margin: 25px auto;
  }
}
